/*Marker classes*/
.rp-group {
  /**/
}
.rp-group-header {
  /**/
}
.rp-keep-together {
  /**/
}
.rp-hide-on-first-page {
  /**/
  display: none;
}
.rp-force-page-break {
  /**/
}
.rp-page-header {
  /**/
}
.rp-page-footer {
  /**/
}
.rp-page-number {
  /**/
}
.rp-page-count {
  /**/
}
.rp-hidden {
  display: none;
}
/*Emulation styles*/
body > *:not(.rp-page) {
  display: none;
}
body {
  background-color: grey;
  margin: 0;
  padding: 0;
}
.rp-page {
  width: 8.5in;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  padding: 38px;
  overflow: hidden;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  min-height: 11in;
  /*  box-shadow: 0 5px 10px 0 rgba(0,0,0,.3);*/
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNcvXpBPQAGdgJ3KfanbgAAAABJRU5ErkJggg==);
  background-repeat: repeat-x;
}
@media screen {
  .rp-page {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.rp-force-page-break {
  height: 20px;
  text-align: center;
  background-color: lightcoral;
  color: black;
  font-size: 16px;
}
.rp-force-page-break::after {
  content: "Page Break";
}
.rp-page * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.rp-contain {
  overflow: hidden;
}
.rp-full-page {
  margin: -38px;
  margin-bottom: 0px !important;
  height: 11in;
  width: 8.5in;
}
/*Paper Sizes*/
.rp-page.rp-ps-letter {
  width: 8.5in;
  min-height: 11in;
}
.rp-page.rp-ps-letter .rp-full-page {
  width: 8.5in;
  height: 11in;
}
.rp-page.rp-ps-letter-ls {
  width: 11in;
  min-height: 8.5in;
}
.rp-page.rp-ps-letter-ls .rp-full-page {
  width: 11in;
  min-height: 8.5in;
}
.rp-page.rp-ps-legal {
  width: 8.5in;
  min-height: 14in;
}
.rp-page.rp-ps-legal .rp-full-page {
  width: 8.5in;
  min-height: 14in;
}
.rp-page.rp-ps-legal-ls {
  width: 14in;
  min-height: 8.5in;
}
.rp-page.rp-ps-legal-ls .rp-full-page {
  width: 14in;
  min-height: 8.5in;
}
.rp-page.rp-ps-tabloid-ls {
  width: 17in;
  min-height: 11in;
}
.rp-page.rp-ps-tabloid-ls .rp-full-page {
  width: 17in;
  min-height: 11in;
}
.rp-page.rp-ps-tabloid {
  width: 11in;
  min-height: 17in;
}
.rp-page.rp-ps-tabloid .rp-full-page {
  width: 11in;
  min-height: 17in;
}
.rp-page.rp-ps-ledger {
  width: 17in;
  min-height: 11in;
}
.rp-page.rp-ps-ledger .rp-full-page {
  width: 17in;
  min-height: 11in;
}
.rp-page.rp-ps-ledger-ls {
  width: 11in;
  min-height: 17in;
}
.rp-page.rp-ps-ledger-ls .rp-full-page {
  width: 11in;
  min-height: 17in;
}
.rp-page.rp-ps-a0 {
  width: 841mm;
  min-height: 1189mm;
}
.rp-page.rp-ps-a0 .rp-full-page {
  width: 841mm;
  height: 1189mm;
}
.rp-page.rp-ps-a0-ls {
  width: 46.8in;
  min-height: 33.1in;
}
.rp-page.rp-ps-a0-ls .rp-full-page {
  width: 1189mm;
  height: 841mm;
}
.rp-page.rp-ps-a1 {
  width: 594mm;
  min-height: 841mm;
}
.rp-page.rp-ps-a1 .rp-full-page {
  width: 594mm;
  height: 841mm;
}
.rp-page.rp-ps-a1-ls {
  min-height: 594mm;
  width: 841mm;
}
.rp-page.rp-ps-a1-ls .rp-full-page {
  height: 594mm;
  width: 841mm;
}
.rp-page.rp-ps-a2 {
  width: 420mm;
  min-height: 594mm;
}
.rp-page.rp-ps-a2 .rp-full-page {
  width: 420mm;
  height: 594mm;
}
.rp-page.rp-ps-a2-ls {
  width: 594mm;
  min-height: 420mm;
}
.rp-page.rp-ps-a2-ls .rp-full-page {
  width: 594mm;
  height: 420mm;
}
.rp-page.rp-ps-a3 {
  width: 297mm;
  min-height: 420mm;
}
.rp-page.rp-ps-a3 .rp-full-page {
  width: 297mm;
  height: 420mm;
}
.rp-page.rp-ps-a3-ls {
  width: 420mm;
  min-height: 297mm;
}
.rp-page.rp-ps-a3-ls .rp-full-page {
  width: 420mm;
  height: 297mm;
}
.rp-page.rp-ps-a4 {
  width: 210mm;
  min-height: 297mm;
}
.rp-page.rp-ps-a4 .rp-full-page {
  width: 210mm;
  height: 297mm;
}
.rp-page.rp-ps-a4-ls {
  width: 297mm;
  min-height: 210mm;
}
.rp-page.rp-ps-a4-ls .rp-full-page {
  width: 297mm;
  height: 210mm;
}
.rp-page.rp-ps-a5 {
  width: 148mm;
  min-height: 210mm;
}
.rp-page.rp-ps-a5 .rp-full-page {
  width: 148mm;
  height: 210mm;
}
.rp-page.rp-ps-a5-ls {
  width: 210mm;
  min-height: 148mm;
}
.rp-page.rp-ps-a5-ls .rp-full-page {
  width: 210mm;
  height: 148mm;
}
.rp-page.rp-ps-a6 {
  width: 105mm;
  min-height: 148mm;
}
.rp-page.rp-ps-a6 .rp-full-page {
  width: 105mm;
  height: 148mm;
}
.rp-page.rp-ps-a6-ls {
  width: 148mm;
  min-height: 105mm;
}
.rp-page.rp-ps-a6-ls .rp-full-page {
  width: 148mm;
  height: 105mm;
}
