<h1>{{title}}</h1>
<div id="app" style="display: none">

    <b-form @submit="onSubmit" @reset="onReset" v-if="show" method="POST" action="/pdf">
        <b-form-group id="e1l" label="Url to convert:" label-for="e1" description="We will never store your url request history.">
            <b-form-input id="e1" type="url" v-model="form.url" name="url" required placeholder="https://example.com">
            </b-form-input>
        </b-form-group>

        <b-form-group label="Format:">
            <b-form-select :options="formats" required v-model="form.format" name="format" class="mr-sm-2">
            </b-form-select>
        </b-form-group>
        <b-form-group>
            <b-form-checkbox v-model="form.landscape" name="landscape" />Landscape
        </b-form-group>
        <b-form-group>
            <b-form-checkbox v-model="form.printMedia" name="printMedia" />Print Media
        </b-form-group>
        <b-form-group label="" description="Pdf will not begin until window.RESPONSIVE_PAPER_READY_TO_RENDER = true">
            <b-form-checkbox v-model="form.waitForJs" name="waitForJs" /> Wait for javascript
        </b-form-group>
        <b-form-group label="Hidden element selectors:" description="Comma delimited list of elements to hide.">
            <b-form-input v-model="form.hiddenElementSelectors" name="hiddenElementSelectors" placeholder="e.g. div.floatingBadge">
            </b-form-input>
        </b-form-group>
        <b-row>
            <b-col>
                <b-form-group label="Css overrides:" description="Enter any styles to override on the target page (or urls).">
                    <b-form-textarea type="text" v-model="form.css" name="css" :rows="3" placeholder="body { font-size: .8em !important;}" description="">
                        </b-form-input>
                </b-form-group>
            </b-col>
            <b-col>
                <b-form-group label="Pre render script:" label-for="e2" description="Enter any script to run before printing (or urls)">
                    <b-form-textarea type="text" v-model="form.script" name="script" :rows="3" placeholder="document.getElementById('img1').style.maxWidth = '100%';">
                        </b-form-input>
                </b-form-group>
            </b-col>
        </b-row>

        <b-button type="submit" variant="primary">Submit</b-button>
        <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
</div>

<script>

    window.onload = function () {
        var app = new Vue({
            el: "#app",
            data: function () {
                return {
                    form: {
                        url: 'http://localhost:8080/examples/derby/',
                        css: '',
                        script: '',
                        format: 'Letter',
                        landscape: false,
                        print: false,
                        hiddenElementSelectors: null,
                        waitForJs: false
                    },
                    formats: [
                        { text: 'Select paper size', value: null },
                        'Letter', 'Legal', 'Ledger', 'Tabloid', 'A4', 'A5', 'A6'
                    ],
                    show: true
                }
            },
            methods: {
                onSubmit(evt) {
                    //evt.preventDefault();
                    //alert(JSON.stringify(this.form));
                },
                onReset(evt) {
                    evt.preventDefault();
                    /* Reset our form values */
                    this.form.email = '';
                    this.form.name = '';
                    this.form.food = null;
                    this.form.checked = [];
                    /* Trick to reset/clear native browser form validation state */
                    this.show = false;
                    this.$nextTick(() => { this.show = true });
                }
            }
        });
        document.getElementById("app").style.display = '';
    };
</script>

<!-- b-form-1.vue -->