<div class="rp-page-footer rp-visible d-none">
  <span>Powered by responsivepaper.com&copy;</span>
  <div class="float-right text-right">Page
    <span class="rp-page-number">1</span> of
    <span class="rp-page-count">1</span>
  </div>
</div>