{{!< docs}}
<h1 id="introduction">Introduction</h1>
<p>The Responsive Paper HTML
  to PDF API is an easy to use web service that renders web pages annotated with the <a href="css-reference">Responsive
    Paper CSS classes</a> and delivers the paginated view as a PDF document. The service utilizes the headless chrome
  browser rendering engine incorporating the latest rich html / css / js capabilities.</p>
<ul>
  <li>Create pdf reports using your favorite client side html/js/css framework (e.g. Vue, React, etc)</li>
  <li>Use the latest css technologies and retain reprinting headers without using <code>&lt;th&gt;</code> tags and print
    media queries</li>
  <li>Use millions of js libraries for charting, etc</li>
  <li>Design once for multiple pdf paper sizes</li>
  <li>Many common formats supported (Letter, Legal, A6, A5, A4, A3, etc)</li>
  <li>Portrait or landscape orientaion</li>
  <li>Use different page formats and orientations in the same pdf</li>
  <li>Page numbering</li>
  <li>Page number links (e.g. Table of Contents, Indexes)</li>
  <li>Page headers</li>
  <li>Group headers (no table elements required)</li>
  <li>Force Page breaks</li>
  <li>Prevent element splitting across pages</li>
  <li>Canvas support for js rendering libraries</li>
  <li>Screen or print media type</li>
  <li>Webfont support</li>
  <li>Debug logs</li>
</ul>