<section id="faq" class="section gray-bg">
  <div class="container">
    <h1>FAQs</h1>
    <h3>How do I set the paper margins for the pdf?</h3>
    <p>The default margins for a page is 38px or about .4 inches. You can override this by setting the padding of the
      rp-page class:<br>
      <pre>
  .rp-page {
    padding: .5in !important;
  }
      </pre>
    </p>

  </div>
</section>
<script>
  window.headerFixd = false
</script>