<!--  home banner -->
<section id="home" class="effect-section gray-bg">
  <!-- effect -->
  <div class="effect theme-bg effect-skew"></div>
  <div class="particles-box" id="particles-box"></div>
  <!-- end effect -->
  <!-- container -->
  <div class="container container-large">
    <!-- row -->
    <div class="row full-screen sm-full-screen-auto align-items-center justify-content-center">
      <div class="col-12 col-lg-5 col-xl-4">
        <div class="md-p-100px-t md-m-40px-t sm-m-20px-t md-p-30px-b sm-p-50px-b">
          <h3 class="white-color font-w-600 font-44px md-font-38px sm-font-28px m-15px-b">Next Generation HTML to
            PDF API</h3>
          <p class="white-color-light font-16px sm-font-15px m-0px">Responsive Paper is a developer focused,
            revolutionary design and delivery experience including unmatched features. Faster design with more
            features.</p>
          <ul class='white-color-light'>
            <li>Table of Contents</li>
            <li>Indexes</li>
            <li>Group Headers for all elements</li>
            <li>WYSIWYG experience</li>
            <li>Multiple page sizes in single PDF</li>
            <li>And much more!</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-7 col-xl-8">
        <img class="max-width-auto" src="static/img/home-banner.png" title="" alt="">
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end home banner -->
<!--  feature box -->
<section id="feature" class="section gray-bg">
  <div class="container">
    <!--section title -->
    <div class="row justify-content-center sm-m-25px-b m-45px-b">
      <div class="col-lg-8 col-md-10">
        <div class="section-title text-center">
          <h2 class="font-w-600 m-20px-b p-20px-b white-after after-50px font-40px md-font-38px sm-font-28px">
            Complete Feature Set</h2>
          <p class="font-16px m-0px">Responsive Paper is a revolutionary way to design and build pdf reports using
            pure html, javascript, and css. It puts
            the ease of GUI report design into the hands of you as a developer.</p>
        </div>
      </div>
    </div>
    <!--end section title -->
    <div class="row">
      <!-- features box -->
      <div class="col-md-6 m-15px-tb">
        <div class="flex-left-icon white-bg p-40px-tb p-20px-lr d-flex box-shadow transition hover-top border-radius-5">
          <div class="f-icon-80px border-radius-50 gray-bg theme-color font-35px text-center">
            <i class="icon-desktop"></i>
            <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
          </div>
          <div class="p-20px-l">
            <h5 class="font-16px dark-color m-10px-b font-w-600">Design time experience</h5>
            <p class="m-0px">Get instance feedback on pdf layout using the design time tools.</p>
          </div>
        </div>
      </div>
      <!-- end features box -->
      <!-- features box -->
      <div class="col-md-6 m-15px-tb">
        <div class="flex-left-icon white-bg p-40px-tb p-20px-lr d-flex box-shadow transition hover-top border-radius-5">
          <div class="f-icon-80px border-radius-50 gray-bg theme-color font-35px text-center">
            <i class="icon-tools"></i>
            <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
          </div>
          <div class="p-20px-l">
            <h5 class="font-16px dark-color m-10px-b font-w-600">Fully Supports Responsive CSS</h5>
            <p class="m-0px">Hide/show elements based on paper size. </p>
          </div>
        </div>
      </div>
      <!-- end features box -->
      <!-- features box -->
      <div class="col-md-6 m-15px-tb">
        <div class="flex-left-icon white-bg p-40px-tb p-20px-lr d-flex box-shadow transition hover-top border-radius-5">
          <div class="f-icon-80px border-radius-50 gray-bg theme-color font-35px text-center">
            <i class="icon-hotairballoon"></i>
            <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
          </div>
          <div class="p-20px-l">
            <h5 class="font-16px dark-color m-10px-b font-w-600">Paper Formats</h5>
            <p class="m-0px">
              <ul class='blank-list'>
                <li>Many common formats supported (Letter, Legal, A6, A5, A4, A3, etc)</li>
                <li>Portrait or landscape orientation</li>
                <li>Use different page formats and orientations in the same pdf</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      <!-- end features box -->
      <!-- features box -->
      <div class="col-md-6 m-15px-tb">
        <div class="flex-left-icon white-bg p-40px-tb p-20px-lr d-flex box-shadow transition hover-top border-radius-5">
          <div class="f-icon-80px border-radius-50 gray-bg theme-color font-35px text-center">
            <i class="icon-scissors"></i>
            <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
          </div>
          <div class="p-20px-l">
            <h5 class="font-16px dark-color m-10px-b font-w-600">Pure HTML/CSS</h5>
            <p class="m-0px">
              <ul class='blank-list'>
                <li>No external HTML for page headers and footers</li>
                <li>Group headers using any element (not dependent on tables)</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      <!-- end features box -->
    </div>
  </div>
</section>
<!--  end feature box -->

<!--  priceing -->
<section id="price" class="section theme-bg">
  <div class="container">
    <!-- section title -->
    <div class="row justify-content-center sm-m-25px-b m-45px-b">
      <div class="col-lg-8 col-md-10">
        <div class="section-title text-center">
          <h2
            class="white-color font-w-600 m-20px-b p-20px-b theme-after after-50px font-40px md-font-38px sm-font-28px">
            Simple Pricing - Cancel Anytime</h2>
          <p class="white-color-light font-16px m-0px">Our pricing is designed to be simple and affordable no matter
            how simple or complex your scheduling needs are.</p>
        </div>
      </div>
    </div>
    <!-- end section title -->
    <div class="row align-items-center">
      <!-- price table -->
      <div class="col-md-6 col-lg-3 m-15px-tb">
        <div class="price-table">
          <div class="pt-head">
            <h5><span>$</span>29.95</h5>
          </div>
          <div class="pt-body">
            <h4>Developer Plan</h4>
            <ul class="list-type-02">
              <li><i class="fas fa-check"></i>1,000 credits per month</li>
              <li><i class="fas fa-check"></i>1 concurrent conversion limit</li>
              <li><i class="fas fa-check"></i>Limited to 120 conversions per hour</li>
            </ul>
          </div>
          <div class="pt-footer">
            <a class="m-btn m-btn-theme m-btn-round" href="/user/register?addPlan=2">Sign Up</a>
          </div>
        </div>
      </div>
      <!-- end price table -->
      <!-- price table -->
      <div class="col-md-6 col-lg-3 m-15px-tb">
        <div class="price-table">
          <div class="pt-head">
            <h5><span>$</span>59.95</h5>
          </div>
          <div class="pt-body">
            <h4>Startup Plan</h4>
            <ul class="list-type-02">
              <li><i class="fas fa-check"></i>10,000 credits per month</li>
              <li><i class="fas fa-check"></i>4 concurrent conversion limit</li>
              <li><i class="fas fa-check"></i>Limited to 360 conversions per hour</li>
            </ul>
          </div>
          <div class="pt-footer">
            <a class="m-btn m-btn-theme m-btn-round" href="/user/register?addPlan=3">Sign Up</a>
          </div>
        </div>
      </div>
      <!-- end price table -->
      <!-- price table -->
      <div class="col-md-6 col-lg-3 m-15px-tb">
        <div class="price-table">
          <div class="pt-head">
            <h5><span>$</span>149.95</h5>
          </div>
          <div class="pt-body">
            <h4>Business Plan</h4>
            <ul class="list-type-02">
              <li><i class="fas fa-check"></i>50,000 credits per month</li>
              <li><i class="fas fa-check"></i>12 concurrent conversion limit</li>
              <li><i class="fas fa-check"></i>Limited to 1080 conversions per hour</li>
            </ul>
          </div>
          <div class="pt-footer">
            <a class="m-btn m-btn-theme m-btn-round" href="/user/register?addPlan=3">Sign Up</a>
          </div>
        </div>
      </div>
      <!-- end price table -->
      <!-- price table -->
      <div class="col-md-6 col-lg-3 m-15px-tb">
        <div class="price-table">
          <div class="pt-head">
            <h5><span></span>Custom</h5>
          </div>
          <div class="pt-body">
            <h4>Enterprise Plan</h4>
            <ul class="list-type-02">
              <li><i class="fas fa-check"></i>Unlimited credits per month</li>
              <li><i class="fas fa-check"></i>Unlimited concurrent conversion limit</li>
              <li><i class="fas fa-check"></i>Unlimited conversions per hour</li>
            </ul>
          </div>
          <div class="pt-footer">
            <a class="m-btn m-btn-theme m-btn-round" href="/enterprise">Learn More</a>
          </div>
        </div>
      </div>
      <!-- end price table -->
    </div>
    <p class="white-color-light font-16px m-0px">*1 credit per MB per converted file. For example, a 2.3MB file
      would cost 3 credits. See the FAQ's and Terms of Service
      for more information. </p>
  </div>
</section>
<!-- end priceing -->
<!--  blog -->