{{!-- <div class="middle-box text-center animated fadeInDown">

</div>
<h2>Responsive Paper is coming soon!</h2>
<img width="200" src="/images/logo.png" style="margin: auto" />
</div> --}}

<div class='bg'>
    <div class="content">
        <div class="banner">
            
            <h1><img src="/images/logo.png" class="landing-logo" />Responsive Paper</h1>
            <h1 style="font-size: 57px">COMING SOON</h1>
            <p>We are working hard to bring you the next iteration of html based report tooling and services.</p>
            <div class="button">KEEP ME UPDATED</div>
        </div>
        <div class="social">
           <a href="" target="_blank" class="icon-wrapper twitter"></a> 
           <a href="" target="_blank" class="icon-wrapper github"></a> 
        </div>
    </div>
</div>