{{!-- <div class="middle-box text-center animated fadeInDown">

</div>
<h2>Responsive Paper is coming soon!</h2>
<img width="200" src="/images/logo.png" style="margin: auto" />
</div> --}}
<link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/brands.css" integrity="sha384-1KLgFVb/gHrlDGLFPgMbeedi6tQBLcWvyNUN+YKXbD7ZFbjX6BLpMDf0PJ32XJfX" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/fontawesome.css" integrity="sha384-jLuaxTTBR42U2qJ/pm4JRouHkEDHkVqH0T1nyQXn1mZ7Snycpf6Rl25VBNthU4z0" crossorigin="anonymous">
<div class='bg'>
    <div class="content">
        <div class="banner">

            <h1><img src="/images/logo.png" class="landing-logo" /><span class="logo-text">Responsive Paper</span></h1>
            <h1 style="font-size: 57px">COMING SOON</h1>
            <p>We are working hard to bring you the next iteration of html based report tooling and services.</p>
            {{!-- <div class="button">KEEP ME UPDATED</div> --}}
            <div class="social">
                <a href="https://twitter.com/ResponsivePaper" target="_blank" style="margin-right: 20px;"><i class="fab fa-twitter"></i></a>
                
                
                
                <a href="https://github.com/ResponsivePaper" target="_blank" ><i class="fab fa-github"></i></a>
            </div>
        </div>

    </div>
</div>