{{# if successMessage }}
<p class="alert alert-success">{{ successMessage }}</p>
{{/if}}
<p>Hi {{name}}!</p>
<p>Your API Key is <b>{{apikey}}</b></p>
<p>Your current plan: <b>Alpha Plan (Unlimited Free Usage)</b></p>
<p>You have used {{usedCredits}} of <b>Unlimited Credits</b></p>