<div class="container">
  <div class="pricing-page">
    <div class="wrapper">
      <p>Thank you for subscribing! You can review your current subscriptions on your <a
          href="/user/dashboard">dashboard</a>.</p>
      <p>Please check out the <a href="https://docs.responsivepaper.com" target="_blank">documentation</a> for
        information on
        getting started on
        using the html to pdf conversion service.</p>

    </div>
  </div>
</div>