<main id="js-page-content" role="main" class="page-content">

  <div class="subheader">
    <h1 class="subheader-title">
      <i class='subheader-icon fal fa-'></i><a href="/user/add-plan">Choose Plan</a> > <a
        href="/user/payment-method">Payment</a> > <a href="#">Confirm
        Subscription</a>
    </h1>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <div id="panel-1" class="panel">
        <div class="panel-container show">
          <div class="panel-content centered-page">
            <p>Thank you for subscribing! You can review your current subscriptions on your <a
                href="/user/dashboard">dashboard</a>.</p>
            <p>Please check out the <a href="https://docs.responsivepaper.com" target="_blank">documentation</a> for
              information on
              getting started on
              using the html to pdf conversion service.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>