<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <p>

            <img width="200" src="/images/logo.png" style="margin: auto" />

        </p>
        {{# if errors }} {{# each errors }}
        <p class="alert alert-danger">{{ this }}</p>
        {{/each}} {{/if}}
        <form class="m-t" role="form" action="/user/reset-password" method="POST">
            <div class="form-group ">
                <input class="form-control " placeholder="Email" required=" " name="email" type="email">
            </div>
            <button type="submit " class="btn btn-primary block full-width m-b ">Send Password Reset Email</button>
            <p class="text-muted text-center ">
                <small>Don't have an account?
                    <a href="/user/signup ">Sign up</a>
                </small>
            </p>
        </form>

    </div>
</div>