<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <h2>Sign out?</h2>
        <form class="m-t" role="form" action="/user/signout" method="POST">
            <button type="submit " class="btn btn-primary block full-width m-b ">Yes</button>


            <a class="btn btn-sm btn-white btn-block " href="/user/dashboard ">Stay logged in</a>
        </form>

    </div>
</div>