<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="/css/landing.css" rel="stylesheet"> 
  {{{_sections.style}}}
  <title>Coming Soon - Responsive Paper</title>
</head>

<body>
  
  {{{body}}}
  {{{_sections.script}}}
</body>

</html>