<!doctype html>
<html lang="en">

<head>
  <!-- metas -->
  <meta charset="utf-8">
  <meta name="author" content="99pixel" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="HTML to PDF conversion" />
  <meta name="description" content="Responsive Paper is a revolutionary way to design and build pdf reports using pure html,
    javascript, and css. It puts the ease of GUI report design into the hands of you as a developer." />
  <!-- title -->
  <title>{{title}} - Responsive Paper</title>
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <!-- plugin CSS -->
  <link rel="stylesheet" media="screen, print" href="/css/vendors.bundle.css">

  <link href="static/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/plugin/font-awesome/css/all.min.css" rel="stylesheet">
  <link href="static/plugin/et-line/style.css" rel="stylesheet">
  <link href="static/plugin/themify-icons/themify-icons.css" rel="stylesheet">
  <link href="static/plugin/owl-carousel/css/owl.carousel.min.css" rel="stylesheet">
  <link href="static/plugin/magnific/magnific-popup.css" rel="stylesheet">
  <!-- theme css -->
  <link href="static/style/master.css" rel="stylesheet">
  <link href="static/style/custom.css" rel="stylesheet">
</head>
<!-- Body Start -->

<body data-spy="scroll" data-target="#navbar-collapse-toggle" data-offset="98">
  <!-- page loading -->
  <div id="loading">
    <div class="load-circle"><span class="one"></span></div>
  </div>
  <!-- end page loading -->
  <!-- Header -->
  <header class="header-nav header-transparent-white fixed-header">
    <div class="fixed-header-bar">
      <!-- Header Middle -->
      <div class="navbar navbar-default navbar-expand-lg main-navbar">
        <div class="container container-large">
          <div class="">
            <a href="/" class="logo-text">

              Responsive Paper
            </a>
          </div>

          <div class="navbar-collapse justify-content-end collapse" id="navbar-collapse-toggle">
            <ul class="navbar-nav m-auto align-items-lg-center">
              <li><a class="nav-link" href="/#feature">Features</a></li>
              <li><a class="nav-link" href="/#price">Pricing</a></li>
              <li><a class="nav-link" target='_blank' href="https://docs.responsivepaper.com">Documentation</a></li>
              <li><a class="nav-link" href="/user/signin">Sign In</a></li>
              <li><a class="nav-link d-md-none" href="/user/register">Create Free Account</a></li>
            </ul>
          </div>
          <div class="extra-menu d-flex align-items-center">
            <div class="d-none d-md-inline-block">
              <a class="m-btn m-btn-md m-btn-theme2nd m-btn-round m-btn-shadow" href="/user/register">Create a free
                account</a>
            </div>
            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse"
              data-target="#navbar-collapse-toggle" aria-expanded="false">
              <span class="icon-bar"></span>
            </button>
          </div>
        </div>
      </div>
      <!-- End Header Middle -->
    </div>
  </header>
  <!-- Header End -->

  <!-- Main -->
  <main class='rp-page'>
    {{{body}}}
  </main>
  <!-- main end -->
  <!-- Footer-->
  <footer class="footer-one">
    <!-- footer top -->
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <!-- footer col -->
          <div class="col-lg-3 col-sm-12 m-15px-tb mr-auto">
            <div class="footer-about">
              <div class="fot-logo">
                <span class="logo-text logo-text-footer">

                  Responsive Paper

                </span> </div>
            </div>
          </div>
          <!-- end footer col -->
          <!-- footer col -->
          <div class="col-lg-3 col-sm-6 m-15px-tb">
            <div class="footer-link">
              <h5 class="fot-title">Company</h5>
              <ul class="nav flex-column">
                <li><a href="/terms-of-service">Terms of Service</a></li>
                <li><a href="/privacy-policy">Privacy Policy</a></li>
              </ul>
            </div>
          </div>
          <!-- end footer col -->
          <!-- footer col -->
          <div class="col-lg-3 col-sm-6 m-15px-tb">
            <div class="footer-link">
              <h5 class="fot-title">Product</h5>
              <ul class="nav flex-column">
                <li><a href="/#price">Pricing</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a target='_blank' href="https://docs.responsivepaper.com">Documentation</a></li>
                <li><a href="/enterprise">Enterprise</a></li>
              </ul>
            </div>
          </div>
          <!-- end footer col -->
          <!-- footer col -->
          <div class="col-lg-3 col-sm-6 m-15px-tb">
            <div class="footer-info">
              <h5 class="fot-title">Information</h5>
              <address>
                <p class="email"><a target='_blank'
                    href="mailto:support@responsivepaper.com">support@responsivepaper.com</a></p>
              </address>
              <ul class="fot-icon">
                <li><a target='_blank' href="https://twitter.com/ResponsivePaper"><i class="fab fa-twitter"></i></a>
                </li>
                <li><a target='_blank' href="https://github.com/ResponsivePaper"><i class="fab fa-github"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- end footer col -->
          <!-- footer col -->
        </div>
        <!-- / row -->
      </div>
    </div>
    <!-- end footer top -->
    <!-- footer bottom -->
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-center text-md-right">
            <ul class="nav justify-content-center justify-content-md-start m-5px-tb">
              {{!-- <li><a href="#">Privace & Policy</a></li>
              <li><a href="#">Faq's</a></li>
              <li><a href="#">Get a Quote</a></li> --}}
            </ul>
          </div>
          <div class="col-md-6 text-center text-md-right">
            <p>© 2019 copyright Responsive Paper, all right reserved</p>
          </div>
        </div>
      </div>
    </div>
    <!-- end footer bottom -->
  </footer>
  <!-- footer End -->
  <!-- jquery -->
  <script src="static/js/jquery-3.2.1.min.js"></script>
  <script src="static/js/jquery-migrate-3.0.0.min.js"></script>
  <!-- end jquery -->
  <!-- appear -->
  <script src="static/plugin/appear/jquery.appear.js"></script>
  <!-- end appear -->
  <!--bootstrap-->
  <script src="static/plugin/bootstrap/js/popper.min.js"></script>
  <script src="static/plugin/bootstrap/js/bootstrap.js"></script>
  <!--end bootstrap-->
  <!-- End -->
  <!-- custom js -->
  <script src="static/js/custom.js"></script>
  <!-- end -->
</body>
<!-- end body -->

</html>